<p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:20pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Car Wash Terms &amp; Conditions</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:14pt;padding:14pt 0pt 0pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">1 Explanation of wording</span></p>
<ul style="margin-top:0;margin-bottom:0;padding-inline-start:48px;">
    <li aria-level="1" dir="ltr" style="list-style-type:disc;font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;">
        <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:14pt;margin-bottom:0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Price list &ndash; means the then current list of prices for the various services provided by us from time to time and advised to you.</span></p>
    </li>
    <li aria-level="1" dir="ltr" style="list-style-type:disc;font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;">
        <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">The services or the cleaning process &ndash; means the vehicle valeting service selected by you from those offered by us from time to time.</span></p>
    </li>
    <li aria-level="1" dir="ltr" style="list-style-type:disc;font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;">
        <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">The vehicle &ndash; means any car, van, commercial vehicle, motorcycle, caravan or any other form of transport accepted by us for cleaning.</span></p>
    </li>
    <li aria-level="1" dir="ltr" style="list-style-type:disc;font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;">
        <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">We, us and B-ARCADE CARWASH &ndash; means&nbsp;</span><span style="font-size:10pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">The Borderless Active Limited</span><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;trading as B-arcade Car Wash.</span></p>
    </li>
    <li aria-level="1" dir="ltr" style="list-style-type:disc;font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;">
        <p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:14pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">You and them &ndash; means the customer we make this agreement with, including any persons we reasonably believe is acting with the customers authority and knowledge.</span></p>
    </li>
</ul>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:14pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">2 Cancellations</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Please give as much notice as possible should you need to cancel your car wash appointment with B-ARCADE CARWASH.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">3 Valet Prices</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Prices that are displayed on the board at our carwash centre and through our mobile app are for guidance only and allow you to prepay for standard services. On arrival at the Carwash centre, your vehicle will be assessed by a member of staff and if it is not as previously described, significantly more dirty than advised or additional work is requested by the client, then the you may be subject to an increase in the charge which will be communicated to you for payment.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">4 Vehicle contents</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Whilst we are fully aware that valuables are sometimes left in a vehicle, B-ARCADE CARWASH can not be held responsible for such items left in the vehicle. We will endeavor to bag up any such items that are left in the vehicle, but we respectfully ask that you remove as much as possible prior to your valet (i.e. prior to releasing your car to be washed).</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5 Care and liability</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">B-ARCADE CARWASH will endeavor to take all responsible care of your vehicle whilst it is in our possession. We will not be held liable for the following:</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5.1 Damage or loss to your vehicle resulting from acts of third parties who are neither employees or persons acting under the instruction of the Management of B-ARCADE CARWASH.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5.2 Damage or loss of your vehicle if you leave your vehicle outside our premises before or after our usual opening hours.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5.3 Damage or loss to your vehicle caused by lightening, flood, severe weather, fire or explosion, civil disorder, war or military operations, national or local emergencies, any government emergency or other competent authority or industrial dispute of any kind.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5.4 Loss or damage to you or your vehicle caused by us which is attributed to defects, damage or weakness in your vehicle which has not been disclosed to B-ARCADE CARWASH, irrespective of whether such defects were previously known to you.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5.5 It is your duty to disclose to B-ARCADE CARWASH and defects, damage or weakness in your vehicle, either known or suspected which may affect any work that B-ARCADE CARWASH undertake during the cleaning process.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">5.6 We do not undertake to insure your vehicle against loss whilst it is at our premises. Insurance of your vehicle is your responsibility at all times. We will however ensure that your car is locked at all times.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">6 Payment</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Payment must be agreed by B-ARCADE CARWASH prior to us taking possession of your vehicle and by leaving your vehicle with us you are agreeing to the payment discussed and thereby have entered into a verbal contract with B-ARCADE CARWASH. Non payment will result in refusal to release the vehicle.</span><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">6.1 Account customers agree to pay for their cleaning as per the terms of our invoice with 7 days of receipt.</span><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><br></span><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">6.2 All other clients agree to pay for the service in full before the car is released back to them. Your vehicle shall remain with B-ARCADE CARWASH until full payment has been received and as such may incur extra charges for storage at a daily rate of Kshs 1000 per day or part day.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">7 Liability</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">You will be liable to B-ARCADE CARWASH for any death or injury caused to any member of staff or visitor to B-ARCADE CARWASH attributable to any defect in your vehicle or harmful contents.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">8 Illegal substances or items</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Any illegal substances or items that are discovered in your car will immediately result in your clean being terminated and your car will be secured and the relevant authorities notified. It is not our responsibility to notify you of this should it occur.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">9 Exclusion zones &amp; notices</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">B-ARCADE CARWASH cannot be held responsible for any person or persons entering the site and causing injury to themselves due to slippery floors or obstructions. The notice on the exterior of the building should therefore be noted. It should also be noted that the public are not permitted to enter the work bay areas without prior permission of the management of B-ARCADE CARWASH and the waiting area situated at the entrance of the site is for the use of you the client.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">10 Child seats</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Child seats should be removed by you prior to your vehicle being left with us, however if they are not, we cannot be held responsible for removing these and therefore they will remain in the vehicle and we will valet / clean around them. B-ARCADE CARWASH staff or management will not put car seats back into the vehicle and therfore you must ensure that your child seats are secure before using them, B-ARCADE CARWASH cannot be held liable for injury or loss caused by you not re-securing your child seat(s).</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">11 Keys</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">You confirm that you have a spare set of keys for your vehicle and that we shall not be liable for loss or damage caused to you or the vehicle by our losing the keys or locking them in the vehicle.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">12 Refusal</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">B-ARCADE CARWASH management reserve the right to refuse to clean a vehicle and no further contracts will be undertaken.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">13 Older vehicles</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Vehicles over 4 years old may be subject to weaker plastics and therefore we agree to provide a valet to the vehicle, however, we will not be held liable for any damage and the vehicle is cleaned at your risk.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">14 Products</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">14.1 The products that B-ARCADE CARWASH use are specifically designed for use on vehicles, we B-ARCADE CARWASH cannot be held responsible for any damage caused to your vehicle through the use of these products. B-ARCADE CARWASH staff take every care when using these products.&nbsp;</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">14.2 In some products there are chemicals used which are hazardous, therefore we respectfully request that clients do not stand next to a vehicle whilst it is being washed and utilise our waiting area, alternatively remain at a minimum of 30ft away from the vehicle, any harm or injury caused by products splashing on to a client due to the above not being adhered to cannot be the responsibility of B-ARCADE CARWASH and is at the clients risk entirely.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">15 Agreement</span></p>
<p dir="ltr" style="line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;padding:0pt 0pt 14pt 0pt;"><span style="font-size:14pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">By having your vehicle cleaned at B-ARCADE CARWASH you are deemed to be in agreement with these terms and conditions laid out.</span></p>
<p dir="ltr" style="line-height:1.2;text-align: center;margin-top:12pt;margin-bottom:0pt;"><span style="font-size:12pt;font-family:'Times New Roman';background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&copy; The Borderless Active Limited 2023</span></p>